# 🧠 Python / Pygame
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp

# 🎮 Pygame builds
build/
dist/
*.spec

# 🪄 Virtualenv
venv/
.env/
.venv/
env/

# 🎨 Assets temporários
assets/images/BG 2.0*/
assets/images/fundo/*
assets/images/teste/
*.psd
*.xcf
*.zip
*.rar
*.tar.gz

# 💻 Sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
