# Ambientes virtuais
.venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Configurações do VS Code
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Builds/Executáveis (caso use PyInstaller)
dist/
build/
*.spec
